@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 100%;
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
}


/* HEADER */


.header {
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #61481c73, #A47E3B73, #BF974273);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
}

.logo a {
    color: #E6B325;
    text-shadow: 1px 1px 0px rgb(255, 255, 255), 
                 2px 2px 10px #61481C;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    padding: 0 8px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.menu a:hover {
    color: #E6B325;
}


/* INICIO */


.inicio {
    background: gray url(../img/santa-cruz-fitz-roy.jpg) no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    position: relative;
}

.texto-inicio {
    max-width: 470px;
    text-shadow: 2px 2px 2px #000;
}

.texto-inicio > h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #E6B325;
}

.texto-inicio > h3 {
    color: whitesmoke;
    font-size: 1.7rem;
}

.imagen-inicio > img {
    filter: drop-shadow(10px 10px 4px #000);
}

.ubicacion {
    position: absolute;
    text-shadow: 2px 2px 2px #000;
    right: 20px;
    bottom: 14px;
    color: whitesmoke;
}


.ubicacion a {
    color: #E6B325;
}


/* SOBRE */


.sobre {
    display: flex;
    justify-content: space-between;
    padding: 60px 200px 0px;
    align-items: center;
    background-color: lightgray;

}

.sobre > img {
    width: 300px;
    border-radius: 20px;
    border: 2px solid #BF9742;
    /* box-shadow: 2px 2px 2px 0px #BF9742; */
}

.texto-sobre {
    text-align: center;
    width: 510px;
}

.titulo-sec {
    font-size: 2rem;
    color: #61481C;
    font-weight: 900;
}

.texto-sobre > p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.wave {
    margin-bottom: -250px;
}

/* ESPACIADO  */

.espaciado {
    height: 170px;
    width: 100%;
    background-color: #61481C;
}

/* PREPARACIÓN */


.preparacion {
    padding: 40px 100px 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    background: #61481C;
}

.preparacion-left {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-sec-v2 {
    font-size: 2rem;
    color: #f5f5dc;
    margin-bottom: 20px;
}

.pasos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.paso {
    background: #E6B325;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.paso > div {
    overflow: hidden;
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
}

.paso img {
    width: 100%;
    transition: all .2s ease-in-out;
}

.paso img:hover {
    transform: scale(1.2);
}

.preparacion-right {
    text-align: center;
    color: beige;
}

.preparacion-right > iframe {
    width: 700px;
    height: 500px;
    margin-top: 20px;
}


/* TIPOS DE MATE */

.tipos {
    padding: 40px 80px;
    background: linear-gradient(to bottom, #61481C, #9f891c, rgb(208, 195, 7) );
    text-align: center;
}

.tipos > h2 {

}

.mates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    overflow: hidden;
}

.mate {
    background: #61481C;
    border: #61481C solid 3px;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 10px;
}

.mate > h3 {
    color: beige;
    position: relative;
    top: -20px;
    background: #E6B325;
    width: max-content;
    margin: 0 auto -15px;
    padding: 2px 6px;
    font-size: 1rem;
    text-shadow: 0px 0px 5px black;
    text-transform: uppercase;
}


.container-img > img {
    width: 100%;
}

.lineas-fuera {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-mate > p {
    color: aliceblue;
    font-size: 0.85rem;
}

.boton-leer {
    cursor: pointer;
    color: #61481C;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 1rem;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    background: #BF9742;
    display: inline-block;
    padding: 5px 15px;
}

.display-none {
    display: none;
}