/* 
PALETTE:
#61481C
#A47E3B
#BF9742
#E6B325
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 100%;
    background-color: #61481C;
    font-family: "Nunito", sans-serif;
}


/* HEADER */


.header {
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #61481c73, #A47E3B73, #BF974273);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
}

.logo a {
    color: #E6B325;
    text-shadow: 1px 1px 0px rgb(255, 255, 255), 
                 2px 2px 10px #61481C;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    padding: 0 8px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.menu a:hover {
    color: #E6B325;
}


.boton-menu {
    padding: 20px 0;
    width: 35px;
    cursor: pointer;
    display: none;
}

.boton-menu span {
    display: block;
    background-color: #E6B325;
    position: relative;
    height: 2px;
}

.boton-menu span::before {
    content: "";
    display: block;
    background-color: #E6B325;
    height: 2px;
    transform: translateY(-8px);
}

.boton-menu span::after {
    content: "";
    display: block;
    background-color: #E6B325;
    height: 2px;
    transform: translateY(8px);
}


/* NAV FLOTANTE */

.nav-flotante {
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: #E6B325;
    width: 100%;
    animation-name: movimiento;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

.cruz {
    cursor: pointer;
    width: 40px;
    padding: 15px 0;
    margin: 20px 20px -50px auto;
}

.cruz span {
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
}

.cruz span::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    transform: rotate(-90deg);
}

.nav-flotante > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-flotante > ul a {
    color: #61481C;
    font-weight: 500;
    font-size: 2rem;
}

.nav-flotante > ul a:hover {
    font-weight: 900;
}

@keyframes movimiento {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

/* INICIO */


.inicio {
    background: gray url(../img/santa-cruz-fitz-roy.jpg) no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
}

.texto-inicio {
    max-width: 470px;
    text-shadow: 2px 2px 2px #000;
}

.texto-inicio > h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #E6B325;
}

.texto-inicio > h3 {
    color: whitesmoke;
    font-size: 1.7rem;
}

.imagen-inicio > img {
    filter: drop-shadow(10px 10px 4px #000);
}

.ubicacion {
    position: absolute;
    text-align: right;
    text-shadow: 2px 2px 2px #000;
    right: 20px;
    bottom: 14px;
    color: whitesmoke;
}


.ubicacion a {
    color: #E6B325;
}


/* SOBRE */


.sobre {
    display: flex;
    justify-content: space-between;
    padding: 60px 110px 0px;
    align-items: center;
    background-color: lightgray;
}

.sobre > img {
    width: 300px;
    border-radius: 20px;
    border: 2px solid #BF9742;
}

.texto-sobre {
    text-align: center;
    width: 500px;
}

.titulo-sec {
    font-size: 2rem;
    color: #61481C;
    font-weight: 900;
}

.texto-sobre > p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* ESPACIADO  */

.espaciado {
    height: 170px;
    width: 100%;
    background-color: #61481C;
}

/* PREPARACIÓN */


.preparacion {
    padding: 40px 100px 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    background: #61481C;
}

.preparacion-left {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-sec-v2 {
    font-size: 2rem;
    color: #f5f5dc;
    margin-bottom: 20px;
}

.pasos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.paso {
    background: #E6B325;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.paso > div {
    overflow: hidden;
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
}

.paso img {
    width: 100%;
    transition: all .2s ease-in-out;
}

.paso img:hover {
    transform: scale(1.2);
}

.preparacion-right {
    text-align: center;
    color: beige;
}

.preparacion-right > iframe {
    width: 700px;
    height: 500px;
    margin-top: 20px;
}


/* TIPOS DE MATE */

.tipos {
    padding: 40px 80px;
    background: linear-gradient(to bottom, #61481C, #9f891c, rgb(208, 195, 7) );
    text-align: center;
}

.mates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}

.mate {
    flex-basis: 28%;
    background: #61481C;
    border: #61481C solid 3px;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 10px;
}

.mate > h3 {
    color: beige;
    position: relative;
    top: -20px;
    background: #E6B325;
    width: max-content;
    margin: 0 auto -15px;
    padding: 2px 6px;
    font-size: 1rem;
    text-shadow: 0px 0px 5px black;
    text-transform: uppercase;
}


.container-img > img {
    width: 100%;
}

.lineas-fuera {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-mate > p {
    color: aliceblue;
    font-size: 0.85rem;
}

.boton-leer {
    cursor: pointer;
    color: #61481C;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 1rem;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    background: #BF9742;
    display: inline-block;
    padding: 5px 15px;
}

.display-none {
    display: none;
}


/* VARIANTES */

.variantes {
    background: lightslategray url("../img/tomando-mate.jpg") no-repeat scroll center;
    background-size: cover;
    text-align: center;
    padding: 40px 100px;
}

.container-variantes {
    margin-top: 10px;
}

.variante {
    margin: 20px;
}

.variante > h3 {
    text-transform: uppercase;
    color: #E6B325;
    font-size: 1.3rem;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.502);
    margin-bottom: 8px;
}

.variante > p {
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #6868685c;
}


/* CONTACTO */

.contacto {
    padding: 50px 180px;
    background-color: #fff;
}

.contacto > h3 {
    text-align: center;
}

.form input, 
.form textarea {
    width: 100%;
    padding: 0 8px;
    margin: 4px 0 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.form input:focus, 
.form textarea:focus{
    outline: none;
    border: #E6B325 solid 1px;
    box-shadow: 0px 0px 5px 0px #E6B325;
}

.form input::placeholder, 
.form textarea::placeholder {
    font-family: "Nunito";
    font-size: 1rem;
}

.form input {
    height: 30px;
}

.form input[type="submit"] {
    background-color: #E6B325;
    color: white;
    font-family: "Nunito";
    font-weight: 900;
    text-shadow: 1px 1px 0px #000;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

.form input[type="submit"]:hover {
    background-color: rgb(243, 208, 36);
}

.form textarea {
    height: 100px;
    resize: none;
}


/* FOOTER */

.footer {
    background: rgb(44, 44, 44);
    padding: 60px 200px 10px;
    color: white;
}

.footer-superior {
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: #9f891c;
}

.footer a:hover {
    color: #E6B325;
}

.biblio > h3 {
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.github {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.github img {
    width: 60px;
}

.copy p {
    text-align: center;
    margin-top: 20px;
}


/* MEDIA QUERIES */

@media (max-width: 1000px) {
    .header {
        padding: 5px 10px;
    }
    .inicio {
        padding: 0 30px;
    }
    .sobre {
        padding: 60px 80px 0px;
    }
    .preparacion {
        padding: 40px 50px 60px;
    }
    .tipos {
        padding: 40px 0px;
    }
    .contacto {
        padding: 50px 100px;
    }
    .footer {
        padding: 60px 150px 10px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .boton-menu {
        display: block;
    }
    .header {
        padding: 5px 30px;
    }
    .inicio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .texto-inicio {
        order: 1;
    }
    .imagen-inicio > img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    .sobre {
        flex-direction: column;
        padding: 60px 40px 0px;
    }
    .texto-sobre {
        order: -1;
        width: 93%;
    }
    .sobre > img {
        margin-top: 20px;
        width: 60%;
    }
    .pasos {
        grid-template-columns: 1fr 1fr;
    }
    .preparacion-right {
        width: 80%;
    }
    .preparacion-right > iframe {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }
    .tipos {
        padding: 40px 0px;
    }
    .mate {
        flex-basis: 45%;
    }
    .contacto {
        padding: 50px;
    }
    .footer {
        padding: 60px 80px 10px;
    }
}

@media (max-width: 600px) {
    .texto-sobre {
        width: 100%;
    }
    .sobre {
        padding: 60px 20px 0px;
    }
    .sobre > img {
        margin-top: 20px;
        width: 80%;
    }
    .pasos {
        grid-template-columns: 1fr;
    }
    .preparacion-right > iframe {
        height: 150px;
    }
    .variantes {
        padding: 40px;
    }
    .mate {
        flex-basis: 60%;
    }
    .footer {
        padding: 60px 20px 10px;
    }
}